.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.header .circle-bg {
  top: -12rem;
}

.main-heading {
  margin-bottom: 5rem;
}

.questions-text {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 1.6rem;
  padding-left: 2rem;
  color: var(--light-san-juan-blue);
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 57.5rem;
}

.clients-block {
  background-color: var(--mirage-blue);
  padding: 10rem 4rem;
  overflow: hidden;
}

.clients-block-content {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  .circle-bg {
    position: absolute;
    top: -45rem;
    left: -25rem;
  }
}

.clients-block-desc .heading-2 {
  margin-bottom: 2.4rem;
}

.clients-block-desc,
.logos-container {
  flex: 1;
}

.block-container,
.misc-block-container {
  max-width: 111rem;
  margin: 0 auto;
}

.logos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 6rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-grow: 1.3;
}

.clients-block-desc .desc {
  opacity: 0.7;
  color: var(--link-water-white);
}

.about-us {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
}

.misc-block-api {
  display: flex;
  align-items: center;
}

.api-desc {
  color: inherit;

  .heading-2 {
    color: inherit;
    margin-bottom: 2.4rem;
  }
}

.easy-img {
  margin-left: -53px;
}

.misc-block {
  padding: 10rem 4rem;
  overflow: hidden;
}

.simple {
  position: relative;

  .circle-bg {
    position: absolute;
    right: 0;
    transform: translateX(66%);
    z-index: 0;
  }
}

.simple-ui-img {
  position: relative;
  z-index: 1;
}

.teams-data {
  display: flex;
  text-align: center;
  gap: 5rem;
  margin-top: 6rem;

  .heading-3 {
    margin: 3.2rem 0 2.2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .clients-block-content {
    flex-direction: column;
    text-align: center;

    .circle-bg {
      top: -50rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .about-us {
    order: 3;
  }

  .clients-block-desc {
    order: 2;
  }

  .logos-container {
    width: 100%;
    order: 1;
  }

  .block-container {
    max-width: 75rem;
  }

  .about-us {
    margin: 3rem auto;
  }
}

@media only screen and (max-width: 1000px) {
  .simple .circle-bg {
    display: none;
  }

  .misc-block-api {
    flex-direction: column;
    text-align: center;
    padding: 0 6rem;
  }

  .api-desc {
    order: 1;
  }

  .simple-ui-img {
    height: 50rem;
    margin-left: 4rem;
  }

  .easy-img {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .main-heading {
    font-size: 4.8rem;
    text-align: center;
  }

  .content {
    flex-direction: column;
  }

  .phone-mockup {
    max-height: 45rem;
    order: 1;
    padding-left: 3.5rem;
  }

  .info {
    order: 2;
    align-items: center;
  }

  .data-icon {
    width: 8.8rem;
  }

  .header .circle-bg {
    top: -65rem;
    left: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .clients-block {
    padding: 8rem 2.4rem;
  }
}
@media only screen and (max-width: 600px) {
  .api-desc .heading-2 {
    font-size: 3.6rem;
  }

  .teams-data {
    flex-direction: column;
    max-width: 33rem;
    margin: 6rem auto;
  }

  .data-icon {
    width: 10.6rem;
  }
}

@media only screen and (max-width: 560px) {
  .main-heading,
  .clients-block-desc .heading-2 {
    font-size: 3.2rem;
  }

  .logos-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 5rem;

    > img {
      max-width: 10rem;
    }
  }

  .block-container .about-us {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .main-heading,
  .clients-block-desc .heading-2 {
    font-size: 3.2rem;
  }

  .logos-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 5rem;

    > img {
      max-width: 10rem;
    }
  }

  .block-container .about-us {
    margin-bottom: 0;
  }

  .simple-ui-img {
    width: 37rem;
    margin-left: 3rem;
    height: auto;
  }

  .easy-img {
    width: 40rem;
    margin-left: 3rem;
  }

  .misc-block-api {
    padding: inherit;
  }

  .misc-block {
    padding: 5rem 2rem;
  }
}
